@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  @keyframes heart-fall {
    0% { transform: translateY(-10vh) rotate(0deg); opacity: 0; }
    10% { opacity: 0.6; } /* Increased opacity slightly to ensure visibility */
    90% { opacity: 0.6; }
    100% { transform: translateY(110vh) rotate(360deg); opacity: 0; }
  }

  .animate-heart {
    animation: heart-fall linear infinite;
  }
}